<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="ch.hsr.ifs.cutelauncher.launchConfig">
<stringAttribute key="org.eclipse.cdt.launch.DEBUGGER_START_MODE" value="run"/>
<booleanAttribute key="org.eclipse.cdt.launch.DEBUGGER_STOP_AT_MAIN" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="Debug/06_TestToggleButton"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="06_TestToggleButton"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/06_TestToggleButton"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
</launchConfiguration>
